<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Libraries -->
    <script src="../oauth-1.0a/oauth-1.0a.js"></script>
    <script type="text/javascript" src="../utils.js"></script>
    <!-- application scripts -->
    <script src="../config.js"></script>
    <script src="../stream.js"></script>
    <script src="../flickr.js"></script>
    <script src="../reddit.js"></script>
    <script src="../channel.js"></script>
    <script src="../feature.js"></script>
    <script src="../clock.js"></script>
    <script src="../weather.js"></script>
    <script src="../news.js"></script>




    <script src="../test.js"></script>




    <div id="frame"></div>
    <div id="feature_bar"></div>
</html>
